header {
    background: #fff;
    grid-area: header;
    border-bottom: 2px solid #f1f1f1;
}

.HeaderLogo {
    height: 70px;
    margin: 0 1.5em;
}

.HeaderList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.HeaderItem {
    text-decoration: none;
    margin: 0 1.5em;
}

.HeaderItem :hover {
    color: #ff8362;
}

.HeaderNavItem a {
    font-size: 22px;
    text-decoration: none;
    color: #3b3e40;
}
