header {
    background: #fff;
    grid-area: header;
    border-bottom: 2px solid #f1f1f1;
}


.HeaderLogo {
    height: 100px;
    cursor:default;

}

.HeaderList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.HeaderItem {
    text-decoration: none;
    margin: 0 1.5em;
}

.HeaderItem :hover {
    color: #ff8362;
}

.HeaderLogoContainer{
    flex-direction: row;
    justify-content: flex-start;
    min-width: 100px;
    margin-left:5px;
}

.HeaderNavItem a {
    font-size: 22px;
    text-decoration: none;
    color: #3b3e40;
}

@media screen and (max-width: 768px) {
    .NavigationList {
       justify-content: space-around;
   }
}

@media screen and (max-width: 480px) {
    .HeaderLogo {
        height: 75px;
    }
    .HeaderNavItem a {
        font-size:1em;
    }
    .HeaderItem {
        margin: 0 0.5em;
    }
}

