.NavigationList {
    list-style: none;
    margin: 0;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.NavigationBuidldingIcon {
    text-align: center;
    justify-content: center;
}

.NavigationBuidldingIcon img {
    width: 56px;
    height: 56px;
}

.NavigationBuidldingLink :hover {
    color: #ff8362;
}

.NavigationBuidldingLink a {
    color: #3b3e40;
    text-decoration: none;
}

.NavigationItem {
    text-decoration: none;
    margin: 0 1.5em;
}

.NavigationItem :hover {
    color: #ff8362;
}


@media screen and (max-width: 768px) {
 .NavigationList {
    justify-content: space-around;
}

.NavigationItem {
    margin: auto;
}
  }

     
  @media screen and (max-width: 480px) {

    .NavigationBuidldingLink a {
        font-size:0.8em;
    }
    .NavigationBuidldingIcon img {
        width: 50px;
        height: 50px;
    }
    .NavigationList {
            padding: 0 1em;
    }
    .NavigationItem {
        text-align: center;
    }
}
