.NavigationList {
    list-style: none;
    margin: 0;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-width: 100vw;
}

.NavigationBuidldingIcon {
    text-align: center;
    justify-content: center;
}

.NavigationBuidldingIcon img {
    width: 56px;
    height: 56px;
}

.NavigationBuidldingLink :hover {
    color: #ff8362;
}

.NavigationBuidldingLink a {
    color: #3b3e40;
    text-decoration: none;
}

.NavigationItem {
    text-decoration: none;
    margin: 0 1.5em;
}

.NavigationItem :hover {
    color: #ff8362;
}
