.ProjectInfoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 100px);
}

.ProjectInfoBuildingContainer {
    display: flex;
    justify-content: center;
    grid-column-start: -3;
    grid-column-end: -2;
    grid-row-start: -5;
    grid-row-end: -2;
}

.ProjectInfoSpecificationContainer {
    grid-column-start: -2;
    grid-column-end: -1;
    grid-row-start: -5;
    grid-row-end: -1;
}
.ProjectInfoModelTitle {
    font-weight: 400;
    font-size: 28px;
    align-self: center;
    text-align: center;
    letter-spacing: 0.18em;
    margin: 0;
}

.ProjectInfoModelSubheading {
    color: #ff8362;
    margin: 5px;
    font-weight: 400;
    font-size: 16px;
    align-self: center;
    text-align: center;
    letter-spacing: 0.2em;
}

.ProjectInfoBuilding {
    height:100%;
}

.SpecificationsContainer {
    display: grid;
    padding: 60px 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);
    font-size: 16px;
    letter-spacing: 0.3em;
    font-weight: 500;
}

.IndividualSpecificationContainer{
    font-size: 16px;
}

.Specification {
    color: #ff8362;
    font-size: 12px;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 480px) {
    .ProjectInfoContainer {
        grid-template-columns: 2fr;

    }

    .ProjectInfoBuilding {
        width:100%;
        object-fit:contain;
        height:auto;
    }
.ProjectInfoTitle {
    text-align:center;
}
.ProjectInfoModelTitle {
    font-size: 22px;
}
.ProjectInfoModelSubheading {
    font-size: 18px;
}
.Specification {
    font-size: 11px;
}
.SpecificationsContainer {
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    font-size: 16px;
}
.IndividualSpecificationContainer{
    font-size: 15px;
}

}
