.ProjectCardContainer {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .ProjectCardInternal {
    width: 600px;
    height: 400px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #5d5e5e;
  }

.ProjectCardVideo {
    background-image: url("../images/vidBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ProjectCardModel {
    background-color: #fff;    
}















